In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Covid Data.csv")

In [3]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [5]:
df.isna().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

In [6]:
df.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [9]:
len(df[df["PREGNANT"]>=97])
df["death"] = [1 if row=='9999-99-99' else 0 for row in df["DATE_DIED"]]
df.drop(["DATE_DIED"],axis=1,inplace=True)

In [10]:
for coln in df.columns:
    print(f"{coln}:{len(df[df[coln]>=97])}")

USMER:0
MEDICAL_UNIT:0
SEX:0
PATIENT_TYPE:0
INTUBED:855869
PNEUMONIA:16003
AGE:553
PREGNANT:527265
DIABETES:3338
COPD:3003
ASTHMA:2979
INMSUPR:3404
HIPERTENSION:3104
OTHER_DISEASE:5045
CARDIOVASCULAR:3076
OBESITY:3032
RENAL_CHRONIC:3006
TOBACCO:3220
CLASIFFICATION_FINAL:0
ICU:856032
death:0

In [11]:
for coln in df.columns:
    print(f"{coln}:{(len(df[df[coln]>=97])/df.shape[0])*100}%")

USMER:0.0%
MEDICAL_UNIT:0.0%
SEX:0.0%
PATIENT_TYPE:0.0%
INTUBED:81.62210619173639%
PNEUMONIA:1.5261664640106813%
AGE:0.052738239992370595%
PREGNANT:50.283956798512264%
DIABETES:0.31833679040602725%
COPD:0.2863886703383163%
ASTHMA:0.28409984979615194%
INMSUPR:0.32463104689697925%
HIPERTENSION:0.29602079011992466%
OTHER_DISEASE:0.48112915146746776%
CARDIOVASCULAR:0.29335049948739955%
OBESITY:0.2891543284934316%
RENAL_CHRONIC:0.28667477290608684%
TOBACCO:0.30708342274038575%
CLASIFFICATION_FINAL:0.0%
ICU:81.6376510979186%
death:0.0%

In [12]:
df.shape[0]

1048575

In [13]:
df.drop(['INTUBED','PREGNANT','OTHER_DISEASE','ICU'],axis=1,inplace=True)

In [14]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,death
0,2,1,1,1,1,65,2,2,2,2,1,2,2,2,2,3,0
1,2,1,2,1,1,72,2,2,2,2,1,2,1,1,2,5,0
2,2,1,2,2,2,55,1,2,2,2,2,2,2,2,2,3,0
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,7,0
4,2,1,2,1,2,68,1,2,2,2,1,2,2,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,2,40,2,2,2,2,2,2,2,2,2,7,1
1048571,1,13,2,2,2,51,2,2,2,2,1,2,2,2,2,7,1
1048572,2,13,2,1,2,55,2,2,2,2,2,2,2,2,2,7,1
1048573,2,13,2,1,2,28,2,2,2,2,2,2,2,2,2,7,1
1048574,2,13,2,1,2,52,2,2,2,2,2,2,2,2,2,7,1

In [15]:
for coln in df.columns:
    df=df[df[coln]<97]

In [16]:
df.shape

(1026317, 17)

In [17]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,death
0,2,1,1,1,1,65,2,2,2,2,1,2,2,2,2,3,0
1,2,1,2,1,1,72,2,2,2,2,1,2,1,1,2,5,0
2,2,1,2,2,2,55,1,2,2,2,2,2,2,2,2,3,0
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,7,0
4,2,1,2,1,2,68,1,2,2,2,1,2,2,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,2,40,2,2,2,2,2,2,2,2,2,7,1
1048571,1,13,2,2,2,51,2,2,2,2,1,2,2,2,2,7,1
1048572,2,13,2,1,2,55,2,2,2,2,2,2,2,2,2,7,1
1048573,2,13,2,1,2,28,2,2,2,2,2,2,2,2,2,7,1
1048574,2,13,2,1,2,52,2,2,2,2,2,2,2,2,2,7,1

In [18]:
x= df.drop(['death'],axis=1)
y=df['death']

In [19]:
from sklearn.preprocessing import StandardScaler
standard=StandardScaler()
x_scaled=pd.DataFrame(standard.fit_transform(x),columns=x.columns)

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [21]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x_scaled,y,test_size=0.2,random_state=4)

In [25]:
models=[(LogisticRegression(),'LogisticRegression'),(KNeighborsClassifier(),'KNeighborsClassifier'),(DecisionTreeClassifier(),'DecisionTreeClassifier'),(RandomForestClassifier(),'RandomForestClassifier'),(AdaBoostClassifier(),'AdaBoostClassifier'),(XGBClassifier(),'XGBClassifier')]

In [26]:
for model,name in models:
    print(f"------{name}------")
    model.fit(x_tr,y_tr)
    y_pred=model.predict(x_ts)
    accuracy=accuracy_score(y_ts,y_pred)
    print(f"{accuracy}")

------LogisticRegression------
0.9375194870995401
------KNeighborsClassifier------
0.9334369397458883
------DecisionTreeClassifier------
0.9282338841686804
------RandomForestClassifier------
0.9341579624288721
------AdaBoostClassifier------
0.9386107646737859
------XGBClassifier------
0.9418699820718685